<div class="container py-3 h-100 shadow text-center">
	<div class="row">
		<div class="col-2">
			<div class="card text-center">
				<div class="card-header bg-light text-white">
					<div class="d-flex justify-content-between">
						<div class="d-flex flex-row align-items-center">
							<p class="small text-secondary mb-0">Owner</p>
						</div>
						<div class="d-flex flex-row align-items-center">
							<img class="img-lg rounded-circle imghand"
								data-ng-src="data:image/png;base64, {{goal.owner.image}}"
								data-ng-error="/app/img/account.png" alt="profile image"
								style="width: 30px;" ng-click="goToAccount(goal.owner)">
							<p class="text-secondary mb-0 ms-2 select"
								ng-click="goToAccount(goal.owner)">{{goal.owner.username}}</p>
						</div>
					</div>
				</div>
				<div class="card-body bg-light" style="height: 450px;">
					<h6 class="text-warning mb-2">{{goal.title}}</h6>
					<div class="mt-1" style="height: 50px;">
						<button type="button" class="btn bg-light text-secondary mt-3"
							ng-show="shareButton" ng-click="share()">
							<i class="text-muted">Clone </i> <i class="fa-solid fa-share"></i>
						</button>
					</div>
					<div class="row mt-2" style="height: 150px">
						<h6 class="text-secondary" ng-show="goal.participants">Participants</h6>
						<div class="col overflow-auto" style="height: 90px;">
							<div class="row" ng-repeat="participant in goal.participants">
								<p>
									<img class="img-lg rounded-circle imghand"
										data-ng-src="data:image/png;base64, {{participant.image}}"
										data-ng-error="/app/img/account.png" alt="profile image"
										style="width: 25px;" ng-click="goToAccount(participant)">
									<i ng-click="goToAccount(participant)">{{participant.username}}</i>
								</p>
							</div>
						</div>
					</div>
					<div class="row mt-2" style="height: 180px">
						<label class="text-warning">Created</label>
						<p class="small text-muted" ng-bind="goal.create | date: short"></p>
						<label class="text-warning" ng-show="goal.start">Starting</label>
						<p class="small text-secondary" ng-show="goal.start"
							ng-bind="goal.start | date: short"></p>
						<label class="text-warning" ng-show="goal.end">Finishing</label>
						<p class="small text-secondary" ng-show="goal.end"
							ng-bind="goal.end | date: short"></p>
					</div>
				</div>
				<div class="card-footer bg-secondary text-light">
					<p>
						<button type="button" ng-show="goal.status == 'CREATED'"
							class="btn rounded-pill bg-white text-secondary">
							<i class="fa-solid fa-star"></i> Created
						</button>
						<button type="button" ng-show="goal.status == 'STARTED'"
							class="btn rounded-pill bg-primary text-white">
							<i class="fa-solid fa-star"></i> Ongoing
						</button>
						<button type="button" ng-show="goal.status == 'PENDING'"
							class="btn rounded-pill bg-success text-white">
							<i class="fa-solid fa-star"></i> Pending
						</button>
						<button type="button" ng-show="goal.status == 'FINISHED'"
							class="btn rounded-pill bg-success text-white">
							<i class="fa-solid fa-star"></i> Finished
						</button>
					</p>
					<i class="text-white">{{progress}} %</i>
					<div class="progress">
						<div class="progress-bar bg-warning" role="progressbar"
							aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
							ng-style="{width : progress + '%'}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-10">
			<div class="card text-center" ng-show="visible">
				<div class="container bg-light shadow">
					<div class="row">
						<div class="col-2">
							<input class="form-control mt-1" type="text"
								ng-model="newPlan.title" placeholder="Enter Plan title" required />
							<input class="form-control mt-1" type="number"
								placeholder="Start Point" ng-model="newPlan.startPoint" />
						</div>
						<div class="col-2">
							<select class="form-control text-muted mt-1"
								ng-model="newPlan.unit">
								<option value="Unit" selected disabled>Unit</option>
								<option selected>Amount</option>
								<optgroup label="Weight">
									<option>Kg</option>
									<option>Gr</option>
								</optgroup>
								<optgroup label="Length">
									<option>Miles</option>
									<option>Km</option>
									<option>Ft</option>
									<option>M</option>
									<option>Cm</option>
								</optgroup>
								<optgroup label="Volume">
									<option>Ml</option>
								</optgroup>
								<optgroup label="Energy">
									<option>Kkal</option>
									<option>Kj</option>
								</optgroup>
								<optgroup label="Currency">
									<option>$</option>
								</optgroup>
								<optgroup label="Time">
									<option>Hours</option>
									<option>Min</option>
								</optgroup>
							</select> <input class="form-control mt-1" type="number"
								placeholder="Target Point" ng-model="newPlan.targetPoint" />
						</div>
						<div class="col-3">
							<textarea class=" col-4 form-control" rows="3" name="text"
								ng-model="newPlan.description"
								placeholder="Write description of the plan"></textarea>
						</div>
						<div class="col-3">
							<div class="row">
								<div class="col-5">
									<label class="text-muted mt-2">Start Date</label>
									<p>
										<label class="text-muted mt-3">Target Date</label>
									</p>
								</div>
								<div class="col-7">
									<input class="mt-1 form-control text-muted" type="date"
										id="starttime" required ng-model="newPlan.start"
										min="{{today}}"> <input
										class="mb-1 mt-1 form-control text-muted" type="date"
										id="endtime" required ng-model="newPlan.end" min="{{today}}">
								</div>
							</div>
						</div>
						<div class="col-2">
							<button type="submit" class="btn btn-success mt-4"
								ng-click="addPlan(newPlan)">
								<i class="fas fa-plus"> </i> Plan
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-2" id="myContainer">
				<div class="panel">
					<div class="row h-25 mt-2 ms-3 me-3">
						<a class="btn btn-outline-warning rounded-pill text-secondary"
							data-bs-toggle="collapse" data-bs-parent="#myContainer"
							data-bs-target="#planList" ng-click="plansClick()"
							aria-expanded="false"><i class="fa-solid fa-list"></i></a>
					</div>
					<div class="collapse" id="planList">
						<div class="container overflow-auto" style="height: 425px;">
							<div ng-repeat="plan in plans | orderBy: ['status','end']"
								class="mt-2">
								<div class="card text-center shadow">
									<div class="card-header bg-info text-white select"">
										<div class="row">
											<div class="col-1">
												<small><button class="btn btn-light btn-circle">{{$index
														+ 1}}</button></small>
											</div>
											<div class="col-11">
												<h5 class="ms-3 me-3">{{plan.title}}</h5>
											</div>
										</div>
									</div>
									<div class="card-body bg-light">
										<div class="row">
											<div class="col-6">
												<textarea
													class=" col-4 form-control bg-light text-secondary"
													rows="2" name="text" ng-bind="plan.description" disabled></textarea>
											</div>
											<div class="col-2">
												<div class="row">
													<div class="col-4">
														<label class="text-muted mt-1">Start:</label> <label
															class="text-muted mt-3">Target:</label>
													</div>
													<div class="col-8">
														<input id="startPoint" class="form-control text-center"
															type="number" ng-model="plan.startPoint" disabled /><input
															id="startPoint" class="form-control text-center"
															type="number" ng-model="plan.targetPoint" disabled />
													</div>
												</div>
											</div>
											<div class="col-2">
												<div class="">
													<label class="text-muted">Unit</label> <input
														class="form-control text-center mt-1" type="text"
														ng-model="plan.unit" disabled />
												</div>
											</div>
											<div class="col-2">
												<div class="mt-3" ng-show="visible">
													<a href="#" class="btn btn-warning"
														ng-if="plan.status === 'FINISHED'" ng-click="revert(plan)"><i
														class="fa-solid fa-rotate-left"></i> </a> <a href="#"
														class="btn btn-success"
														ng-show="$index == 0 && plan.status === 'CREATED'"
														ng-click="finish(plan)"> <i class="fa-solid fa-check"></i>
													</a> <a href="#" class="btn btn-danger"
														ng-show="visible == true" ng-click="delete(plan)"> <i
														class="fas fa-trash-alt"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div
										class="card-footer bg-secondary text-light">
										<div class="row">
											<div class="col-3">
												<i class="small text-info">Created: <i
													class="text-white" ng-bind="plan.create | date: short"></i></i>
											</div>
											<div class="col-3">
												<i class="small text-info">Starting: <i
													class="text-white" ng-bind="plan.start | date: short"></i></i>
											</div>
											<div class="col-3">
												<i class="small text-info">Finishing at: <i
													class="text-white" ng-bind="plan.end | date: short">
														Finishing</i></i>
											</div>
											<div class="col-3">
												<div class=row>
													<div class="col-3">
														<small class=" text-light">{{plan.status ==
															'FINISHED' ? 100 : 0}}%</small>
													</div>
													<div class="col-9">
														<div class="progress mt-1">
															<div class="progress-bar bg-info" role="progressbar"
																aria-valuenow="100" aria-valuemin="0"
																aria-valuemax="100"
																ng-style="{width: (plan.status == 'FINISHED') ? '100%' : '0%'}"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="row h-25 mt-2 ms-3 me-3">
						<button
							class="btn btn-outline-warning rounded-pill text-secondary"
							data-bs-toggle="collapse" data-bs-parent="#myContainer"
							data-bs-target="#commentList" ng-click="commentsClick()"
							aria-expanded="false">
							<i class="fas fa-comment-dots"></i>
						</button>
					</div>
					<div class="collapse" id="commentList">
						<div class="container overflow-auto" style="height: 400px;">
							<div class="row mt-3">
								<div class="col-10">
									<small><textarea
											class=" col-4 form-control bg-light text-secondary" rows="2"
											name="text" ng-model="newComment.content"
											placeholder="Type something"></textarea></small>
								</div>
								<div class="col-2">
									<button type="button" class="btn btn-warning mt-2"
										ng-click="sendComment(newComment, goal)">Send</button>
								</div>
							</div>
							<div class="row d-flex justify-content-center">
								<div class="col-12">
									<div class="card shadow border"
										style="background-color: #f0f2f5;">
										<div class="card-body p-4">
											<div class="card mt-3"
												ng-repeat="comment in comments | orderBy: 'date'">
												<div class="card-body shadow">
													<div class="d-flex justify-content-between">
														<div class="d-flex flex-row align-items-center">
															<img class="img-lg rounded-circle imghand"
																data-ng-src="data:image/png;base64, {{comment.owner.image}}"
																data-ng-error="/app/img/account.png" alt="profile image"
																style="width: 30px;">
															<p class="small mb-0 ms-2">{{comment.owner.username}}</p>
														</div>
													</div>
													<p>{{comment.content}}</p>
													<div class="d-flex justify-content-between">
														<div class="d-flex flex-row align-items-center">
															<p class="small mb-0 ms-2"
																ng-bind="comment.date | date: short"></p>
														</div>
														<div class="d-flex flex-row align-items-center">
															<a href="#" class="btn btn-white text-secondary"
																ng-show="comment.owner.username == usr.username"
																ng-click="deleteComment(comment)"> <i
																class="fas fa-trash-alt"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
